.container {
    display: grid;
    justify-content: center;
    height: 100vh;
    align-content: center;

    .header {
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;

        h1 {
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
}
