$color-primary: rgba(#247547, 0.53);
$color-primary-light: #87a288;
$color-primary-dark: #247547;

$color-secondary: #df8d39;

$color-white: #ffffff;
$color-red: #df4f39;
$input-background: #d9d9d9;
$input-color: #000;
$bg-grey: #d9d9d9;

$table-header: #b9b9b9;
$table-border: #7d7979;

$chart-bg: #405a41;
